.main {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(210, 234, 241, 0.192), rgb(226, 192, 192));

}



.top {

    margin: auto;
    display: flex;
    width: 80%;
    margin: auto;



}

.common div {
    width: 50%;
}

.item1 {}

.item1 h1 {
    font-size: 40px;
}

/* .item1 p{
    font-weight: lighter;
} */
.Rajdwip {
    color: rgb(218, 119, 61);
    font-size: 50px;
}

.hireMe {
    background-image: linear-gradient(rgb(241, 105, 105), khaki);
    padding: 8px 19px;
    border-radius: 4px;
}

.imageDiv1 {
    display: flex;
    margin-left: 4%;
    height: auto;

}

img {
    width: 100%;
}

.top2 {
    width: 80%;
    margin: auto;
    display: flex;
}

.item2 {
    margin-left: 20px;
    padding-left: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;

}

.cards .card1 {
    background-color: aliceblue;
    padding: 15px;
    border-left: 7px solid rgb(212, 126, 110);
}

.cards .card2 {
    background-color: aliceblue;
    padding: 15px;
    border-left: 7px solid rgb(128, 98, 209);

}

.subHead {
    color: coral;
}

footer {
    text-align: center;

}